/* sao lai lac vao day :v */

h4 {
  font-size: 30px;
}

.card-header-primary {
  color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(69, 128, 194, 1);
  background: linear-gradient(60deg, #9daec2, #4580c2);
  border-radius: 3px;
  padding: 1rem 15px;
  padding-top: 2%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border: 0;
}

.card-title {
  margin-top: 4%;
}

@media screen and (min-width: 768px) {
  .card-body {
    height: 300px;
    margin: auto;
  }
}
