.footer-bottom {
    padding: 15px 0 15px 0;
    color: #fff;
}

.footer-social {
    padding-top: 3px;
}

.footer-social a {
    margin: 0 5px 0 5px;
    color: #777;
    border: 0;
}

.footer-social a:hover,
.footer-social a:focus {
    border: 0;
}

.footer-social i {
    font-size: 24px;
    vertical-align: middle;
}

.footer-copyright {
    color: black;
    padding-top: 5px;
}

.footer-copyright a {
    color: #fff;
    border: 0;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    color: #aaa;
    border: 0;
}

#facebook:hover {
    color: #4580c2;
}

#twitter:hover {
    color: #ffde3e;
}

#instagram:hover {
    color: #d22b2b;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #4580c2;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#back-to-top:hover {
    background-color: #ffde3e;
}