.header-item {
  float: left;
  width: auto;
  margin: 0;
  display: block;
  padding: 0;
  position: relative;
}

.header-item i {
  margin-right: .5em;
}

.navbar-brand-centered {
  height: 100%;
}

.navbar-brand-centered img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.header-link,
.header-link:focus,
.header-link:hover,
.header-link:visited {
  background: transparent;
  box-shadow: none;
  color: #FFFFFF;
}

.header-link {
  margin: 0px;
  padding: 0.9375rem;
  display: inline-flex;
  position: relative;
  font-size: 15px;
  line-height: 20px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus {
  text-decoration: none;
  color: #FFFFFF;
  background: rgba(200, 200, 200, 0.2);
}

@media (max-width:959.95px) {
  .header-link {
    color: #FFFFFF;
    width: calc(100% - 30px);
    margin-top: 8px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 8px;
  }

  .header-link>span:first-child {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {

  /* hide navbar */
  .hiddenTA {
    display: none !important;
    visibility: hidden !important;
  }

  /* show mobile navbar */
  .showTA {
    display: block !important;
  }
}

.navbar-toggle {
  z-index: 3;
}

.after-theanhdz {
  color: #555 !important;
  border: 0;
  padding: 0.7rem 0;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  background-color: #242424 !important;
  border-radius: 0 0 6px 6px;
  display: block !important;
}

.kinn {
  background-color: #FBFBFB;
}

@media screen and (min-width:768px) {

  /* hide header space */
  .header-space {
    width: 100%;
    height: 100vh;
  }

  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
  }

  /* show body */
  .kinn {
    z-index: 3;
    position: relative;
    /* margin: -70px 30px 0; */
    margin: 0 30px 0;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 0 0;
    border-radius: 6px;
  }

  .showTA {
    display: none !important;
    visibility: hidden !important;
  }

  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }

  .hiddenTA {
    display: block !important;
  }
}

.codebattle-center {
  width: 100%;
  min-height: 1px;
  flex-basis: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.codebattle-label {
  display: inline-block;
  position: relative;
  font-size: 4.2rem;
  font-weight: 600;
}

.c0d3 {
  z-index: 4;
  position: relative;
  color: #FFFFFF;
}