.header-transform {
	z-index: 5;
	position: relative;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	background-size: cover;
}

.header-transform img {
	width: 90%;
	height: 90%;
}